<div class="container">
    <div class="card">
        <div class="card-body">
            <h2>LOGIN</h2>
        </div>
    </div>
    <br>

    <form (ngSubmit)="login(frm.value)" #frm="ngForm" novalidate>

        <div class="form-group">
            <label for="email" class="input-label">Email:</label>
            <input type="email" class="form-control" placeholder="E-mail" name="email" #emailRef="ngModel" [(ngModel)]="user.email" value=""
                email>
            <div *ngIf="emailRef.invalid&&emailRef.touched" class="error-msg">
                <span class="" *ngIf="emailRef?.errors.email">Please enter a valid email</span>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="input-label">Password:</label>
            <div class="wrap-relative-input">
                <input type="password" class="form-control" placeholder="Password" name="password" #passwordRef="ngModel" [(ngModel)]="user.password"
                    id="pass" value="" required minlength="8" maxlength="50" [passwordValidator]="'^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])'">
                <span id="togglePass" class="passwordEye fa fa-eye fa-lg" aria-hidden="true" (click)="change(passwordRef)"></span>
            </div>
            <div *ngIf="passwordRef.invalid&&passwordRef.touched">
                <span class="error-msg" *ngIf="passwordRef?.errors.required">password is required.</span>
                <span class="" *ngIf="passwordRef?.errors.minlength">password should be equal to or greater than 8 characters.</span>
                <br>
                <span class="" *ngIf="passwordRef?.errors.passwordInvalid && !passwordRef?.errors.minlength && !passwordRef?.errors.required">password should contain a number, special character and at least one small and capital alphabet.</span>
            </div>
        </div>
        <div>
            <p *ngIf="errMsg" class="error-msg">
                Invalid email or password
            </p>
        </div>
        <div class="form-btn-group">
            <button type="submit" class="btn btn-success" [ngClass]="{'disable': frm.invalid}" [disabled]="frm.invalid">LOGIN</button>
            <a routerLink="../signup">SIGN UP</a>
        </div>
    </form>

</div>